.general-container {
  padding: 0rem 1.5rem 0;
  margin-bottom: 2rem;
}

.company-container {
  padding-top: 5rem;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* Quando eu estiver com uma tela menor do que ...px */
@media (max-width: 991px) {
  .company-container {
    padding-top: 0rem;
    vertical-align: middle;
    text-align: center;
    position: relative;
  }
}

.button-singup {
  padding-top: 5rem;
}

.login-link {
  color: var(--main);
}

.login-link:hover {
  color: var(--second);
  text-decoration: none;
}

.logout-button {
  padding-right: 2rem;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.eye-icon {
  position: absolute;
  top: 25%;
  left: 80%;
}

.eye-icon:hover {
  color: var(--main);
  cursor: pointer;
}
