.general-container {
    padding: 0rem 1.5rem 0;
}

.company-container{
    padding-top: 5rem;
    vertical-align: middle;
    text-align: center;
    position: relative;
}


.button-singup {
    padding-top: 5rem;
}