.user-profile-container {
  padding: 2rem;
  text-align: center;
}

.user-profile {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

.qrcode-container {
  text-align: center;
}

.golden-container {
  padding-top: 2rem;
}

.editar-button {
  text-align: center;
  padding-top: 0.5rem;
}

.button1-profile {
  width: 12rem !important;
}

.money-container {
  padding-left: 2rem;
  text-align: center;
}

.doubt-container {
  text-align: center;
}

.money-disponivel {
  color: var(--green);
}

.money-pendente {
  color: var(--main);
}

.alert {
  align-items: center;
  text-align: center;
}

.icons-container {
  margin: 1rem;
}

.golden-social-network {
  text-align: center;
}

.bottom-section {
  background-color: var(--black);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 4.5rem;
}

.row-icons {
  padding-left: 1rem;
}

.whatsapp-share-button {
  color: var(--main) !important;
  background-color: var(--main) !important;
  color: white !important;
  padding: 1em 1.5em !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  border-radius: 1em !important;
}
