.main-container {
  margin-bottom: 10rem;
}

.user-profile-container {
  padding: 2rem;
  text-align: center;
}

.user-profile {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

.qrcode-container {
  text-align: center;
}

.golden-container {
  padding-top: 2rem;
}

.editar-button {
  text-align: center;
  padding-top: 0.5rem;
}

.button1-profile {
  width: 12rem !important;
}

.money-container {
  padding-left: 2rem;
  text-align: center;
}

.money-disponivel {
  color: var(--green);
}

.money-pendente {
  color: var(--main);
}

.alert {
  align-items: center;
  text-align: center;
}

.icons-container {
  margin: 1rem;
}

.golden-social-network {
  text-align: center;
}
