.main-text-container {
  padding-top: 4rem;
}

.jumbotron {
  background: var(--black) !important;
  background-size: cover !important;
  padding-top: 20% !important;
  padding-bottom: 20% !important;
}

@media (max-width: 720px) {
  .jumbotron {
    padding-top: 10% !important;
    padding-bottom: 75% !important;
  }
}

.home-title {
  color: var(--main);
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  max-width: 75%;
  max-height: 100%;
}

.bg-main {
  background-color: var(--main);
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.section-lg {
  padding: 5.25rem 0;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 1.75rem;
  font-weight: 500;
}

.section-title-border {
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main);
}

.section-subtitle {
  letter-spacing: 0.02em;
}

.bg-pattern-effect {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.bg-pattern-effect img {
  max-width: 100%;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .bg-pattern-effect {
    bottom: -7px;
  }
}

.container-explanation {
  padding-bottom: 2rem;
  text-align: center;
  align-items: center;
}

.title-explanation {
  color: var(--white);
}

.conainer-card {
  padding-bottom: 5rem;
}

.bg-overlay {
  background: linear-gradient(to right, var(--main), var(--third));
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.display-table {
  display: table;
  width: 100%;
  height: 80%;
}

.arrow {
  padding-top: 30%;
}
