.bg-overlay {
    background: linear-gradient(to right, var(--main), var(--third));
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

.bg-main {
    background-color: var(--main);
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.display-table {
    display: table;
    width: 100%;
    height: 80%;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
}

.section-lg {
    padding: 5.25rem 0;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 1.75rem;
    font-weight: 500;
}

.section-title-border {
    width: 50px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--main);
}

.section-subtitle {
    letter-spacing: 0.02em;
}

.vh-100 {
    height: 100vh !important;
}

.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.post {
    margin: 60px 10px;
    width: 300px;
    min-width: 300px;
}

.post > div {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: 200% !important;
    border-radius: 10px;
}
.post-title {
    color: var(--main);
    text-decoration: none;
    font-weight: bold;
}

.post-content {
    color: var(--black);
}

.main-text-container {
    padding-top: 4rem;
}

.main-text {
    text-align: center;
    font-weight: bold;
}

.line {
    padding-bottom: 4rem;
}

.description {
    text-align: center;
}

.bg-pattern-effect {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.bg-pattern-effect img {
    max-width: 100%;
}
