

.vh-100 {
  height: 100vh !important;
}

.main-text {
  text-align: center;
  font-weight: bold;
}

.line {
  padding-bottom: 4rem;
}

.description {
  text-align: center;
}

.post-image {
  width: 25rem;
  height: 25rem;
}
