.form-post {
  width: 100%;
  margin: 0 auto;
  max-width: 56.25rem;
  padding: 2rem 0;
  border: none;
  display: block;
}

.editForm {
  width: 100%;
}

.edit,
.delete,
.logout {
  background: none;
  padding: 10px;
  border: none;
}

.edit {
  border: 1px solid #eee;
  color: #0a0a0a;
}

.logout {
  border: 1px solid #222;
  color: #222;
}

.input-file {
  border: 1px solid rgb(138, 55, 55);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.camera {
  display: none;
  height: 15rem;
  width: 5rem;
  background-image: url("../../images/camera.png");
}

.home-style {
  padding-top: 10rem;
}
